## СТРОКИ

Строка фиксируется либо в кавычках " "      ' ' но если многострочное что то, то в тройных кавычках как пример ниже

In [19]:
my_string = '''
Мороз и солнце; день чудесный!
Еще ты дремлешь, друг прелестный —
Пора, красавица, проснись:
Открой сомкнуты негой взоры
Навстречу северной Авроры,
Звездою севера явись!

Вечор, ты помнишь, вьюга злилась,
На мутном небе мгла носилась;
Луна, как бледное пятно,
Сквозь тучи мрачные желтела,
И ты печальная сидела —
А нынче… погляди в окно:
    '''

In [46]:
#ВСЕ БУКВЫ БОЛЬШИЕ - не меняет сам объект
print(my_string.upper())

МОРОЗ И СОЛНЦЕ; ДЕНЬ ЧУДЕСНЫЙ!
ЕЩЕ ТЫ ДРЕМЛЕШЬ, ДРУГ ПРЕЛЕСТНЫЙ —
ПОРА, КРАСАВИЦА, ПРОСНИСЬ:
ОТКРОЙ СОМКНУТЫ НЕГОЙ ВЗОРЫ
НАВСТРЕЧУ СЕВЕРНОЙ АВРОРЫ,
ЗВЕЗДОЮ СЕВЕРА ЯВИСЬ!

ВЕЧОР, ТЫ ПОМНИШЬ, ВЬЮГА ЗЛИЛАСЬ,
НА МУТНОМ НЕБЕ МГЛА НОСИЛАСЬ;
ЛУНА, КАК БЛЕДНОЕ ПЯТНО,
СКВОЗЬ ТУЧИ МРАЧНЫЕ ЖЕЛТЕЛА,
И ТЫ ПЕЧАЛЬНАЯ СИДЕЛА —
А НЫНЧЕ… ПОГЛЯДИ В ОКНО:

In [47]:
#все буквы маленькие - не меняет сам объект
print(my_string.lower())

мороз и солнце; день чудесный!
еще ты дремлешь, друг прелестный —
пора, красавица, проснись:
открой сомкнуты негой взоры
навстречу северной авроры,
звездою севера явись!

вечор, ты помнишь, вьюга злилась,
на мутном небе мгла носилась;
луна, как бледное пятно,
сквозь тучи мрачные желтела,
и ты печальная сидела —
а нынче… погляди в окно:

In [24]:
#Первая буква большая - не меняет сам объект
print(my_string[1:].capitalize())

Мороз и солнце; день чудесный!
еще ты дремлешь, друг прелестный —
пора, красавица, проснись:
открой сомкнуты негой взоры
навстречу северной авроры,
звездою севера явись!

вечор, ты помнишь, вьюга злилась,
на мутном небе мгла носилась;
луна, как бледное пятно,
сквозь тучи мрачные желтела,
и ты печальная сидела —
а нынче… погляди в окно:

In [48]:
#замена ЧТО-то на ЧТО-то - не меняет сам объект
print(my_string.replace('Мороз', 'Moroz'))

Moroz и солнце; день чудесный!
Еще ты дремлешь, друг прелестный —
Пора, красавица, проснись:
Открой сомкнуты негой взоры
Навстречу северной Авроры,
Звездою севера явись!

Вечор, ты помнишь, вьюга злилась,
На мутном небе мгла носилась;
Луна, как бледное пятно,
Сквозь тучи мрачные желтела,
И ты печальная сидела —
А нынче… погляди в окно:

In [28]:
#посчитать кол-во элементов списка
len(my_string)

343

In [29]:
# все элементы списка с 0 до 4 индекса
my_string[0:5]

'\nМоро'

In [34]:
#каждый 2 элемент списка с 0 по 7 индекс
my_string[1:15:2]

'Мрзислц'

In [38]:
my_string_1 = '0123456789'

In [39]:
#все элементы после 6 индекса (вкл)
my_string_1[4:]

'456789'

In [37]:
#все элементы до 5 индекса (не вкл)
my_string[:5]

'\nМоро'

In [45]:
#f - строка
print(f'Hello {my_string[1:7]}, i know {my_string_1[5]} bits')

Hello Мороз , i know 5 bits

## СПИСКИ

Списки фиксируются в квадратных скобках

In [49]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
income_by_months = [
    ['Jan', 13000], 
    ['Feb', 14000], 
    ['Mar', 14300], 
    ['Apr', 15000], 
    ['May', 13800], 
    ['Jun', 13000], 
    ['Jul', 14900], 
    ['Aug', 15200], 
    ['Sep', 15300]]

In [51]:
income_by_months[0][1]

13000

In [52]:
income_by_months[0][1] = 13700
income_by_months[0][1]

13700

In [55]:
#Изменение сразу множество эелементов списка
income_by_months[0:2] = [['Jan', 15200], ['Feb', 17900]] 
income_by_months

[['Jan', 15200],
 ['Feb', 17900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Sep', 15300]]

In [70]:
#распаковка списков. Или присваивание нескольким переменным значения списка
first, second, third = ['первый', 'второй', 'третий'] 
print(f'{first} {second} {third}')

первый второй третий

In [68]:
first, *_ = ['первый', 'второй', 'третий']
print(f'первая: {first}\nостальное: {_}')

первая:первый
остальное:['второй', 'третий']

In [69]:
first, *other, last =  ['первый', 'второй', 'третий', 'четвертый']
print(f'первая: {first} \nпоследняя: {last}\nостальное: {other}')

первая: первый
последняя: четвертый
остальное: ['второй', 'третий']

In [71]:
# Удаляем элемент по индексу
del(income_by_months[-1])
income_by_months

[['Jan', 15200],
 ['Feb', 17900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200]]

In [72]:
# удаляем элемент по значению
month_list.remove('Sep')
print(month_list)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug']

In [73]:
# добавляем элемент в конец списка
income_by_months.append(['Dec', 17000])
income_by_months

[['Jan', 15200],
 ['Feb', 17900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Dec', 17000]]

In [74]:
# добавляем элемент по нужному индексу
income_list.insert(2, 1111111)
print(income_list)

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [35]:
# считаем количество вхождений элемента в список / посчитать кол-во элементов в списке
income_list.count(13000)

NameError: name 'income_list' is not defined

In [78]:
# узнаем индекс элемента в списка (только первое вхождение! но можно указать с какого индекса начать (по умолчанию 0))
print(income_list.index(13000))
print(income_list.index(13000, 1))

0
6

In [80]:
# разворачиваем список - !МЕНЯЕТ ОБЪЕКТ!
month_list.reverse()
month_list

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug']

In [81]:
# узнаем длину списка
len(income_list)

10

In [82]:
# сумма элементов
sum(income_list)

1239611

In [83]:
# максимальный элемент элементов
max(income_list)

1111111

In [84]:
# минимальный элемент элементов
min(income_list)

13000

In [88]:
# сортировка по возрастанию !не меняет объект, это просто функция, а не метод! по убыванию
sorted(income_list)

[13000, 13000, 13800, 14000, 14300, 14900, 15000, 15200, 15300, 1111111]

In [89]:
# изменить порядок сортировки (по возрастанию)
sorted(income_list, reverse= True)

[1111111, 15300, 15200, 15000, 14900, 14300, 14000, 13800, 13000, 13000]

In [90]:
# а это сортировка строк по алфавиту
sorted(month_list)

['Apr', 'Aug', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May']

In [92]:
# как правильно создавтаь копии объектов (копирование)
import copy
a = [1, 2, 3]
b = copy.copy(a)
b.append(4)
print('a = {}'.format(a))
print('b = {}'.format(b))

a = [1, 2, 3]
b = [1, 2, 3, 4]

## СПИСКИ СО СТРОКАМИ

In [93]:
queries_string = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

In [95]:
# преобразование строки в список (например, из CSV-файла) внутри скобок split знак-разделитель
queries_list = queries_string.split(',')
queries_list

['смотреть сериалы онлайн',
 'новости спорта',
 'афиша кино',
 'курс доллара',
 'сериалы этим летом',
 'курс по питону',
 'сериалы про спорт']

In [97]:
#split работает и внутри строки, где тоже можно ставить разделитель, чтобы посчитать что-то. 
len(queries_list[0].split(' '))

3

In [101]:
# Преобразование списка в строку
print(','.join(['Столбец 1', 'Столбец 2', 'Столбец 3']))
#или вот так. первая запятая - что будет разделителем в созданном списке.
print(','.join(queries_list[0].split(' ')))

Столбец 1,Столбец 2,Столбец 3
смотреть,сериалы,онлайн

## Tuple (кортежи)

Кортежы - это уже неизменяемый тип данных. Фиксируется в круглых скобках.

In [103]:
salary_tuple = (1000, 1200, 1300, 900, 800)
print(type(salary_tuple))
print(type(list(salary_tuple)))

<class 'tuple'>
<class 'list'>

In [104]:
list(salary_tuple)

[1000, 1200, 1300, 900, 800]

In [127]:
salary_tuple[1]

1200

In [110]:
# кортеж из одного элемента задается так:
t = ('one',)
type(t)

tuple

In [111]:
# без запятой получится строка
t = ('one')
type(t)

str

## Функция zip

In [134]:
# функция zip формирует СПИСОК КОРТЕЖЕЙ
salaries = [1000, 1200, 1300, 900, 800, 1000]
names = ['Robert', 'Jane', 'Liza', 'Richard', 'John']

salaries_by_names = zip(names, salaries)
print(salaries_by_names)
print(type(salaries_by_names))

list(salaries_by_names)

<zip object at 0x000001EDFCF908C0>
<class 'zip'>

[('Robert', 1000),
 ('Jane', 1200),
 ('Liza', 1300),
 ('Richard', 900),
 ('John', 800)]

In [136]:
salaries_by_names_list = list(salaries_by_names)
print(salaries_by_names)
print(salaries_by_names_list)

<zip object at 0x000001EDFCF908C0>
[]

In [2]:
# пример использования
dict_one = {'name': 'John', 'last_name': 'Doe', 'job': 'Python Consultant'}
dict_two = {'name': 'Jane', 'last_name': 'Doe', 'job': 'Community Manager'}
for (k1, v1), (k2, v2) in zip(dict_one.items(), dict_two.items()):
    print(k1, '->', v1)
    print(k2, '->', v2)

name -> John
name -> Jane
last_name -> Doe
last_name -> Doe
job -> Python Consultant
job -> Community Manager

Если вы работаете с последовательностями, такими как списки, кортежи или строки, то ваши итерации гарантированно будут оцениваться слева направо.
Однако для других типов итераций (например, наборов) вы можете увидеть странные результаты:

In [5]:
s1 = {2, 3, 1}
s2 = {'b', 'a', 'c'}
list(zip(s1, s2))

[(1, 'b'), (2, 'a'), (3, 'c')]

In [6]:
# Вот пример работы со списками (чтобы не делать много циклов)
letters = ['a', 'b', 'c']
numbers = [0, 1, 2]
operators = ['*', '/', '+']
for l, n, o in zip(letters, numbers, operators):
    print(f'Letter: {l}')
    print(f'Number: {n}')
    print(f'Operator: {o}')

Letter: a
Number: 0
Operator: *
Letter: b
Number: 1
Operator: /
Letter: c
Number: 2
Operator: +

Теперь про РАСПАКОВКУ ZIP

In [13]:
#все в точности до наоборот, только надо * поставить в аргументе zip и сам объект
pairs = [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]
numbers, letters = zip(*pairs)
print(list(numbers)) # это я полученный кортеж превращаю в список
print(letters)

[1, 2, 3, 4]
('a', 'b', 'c', 'd')

In [20]:
# немного про сортировку
letters = ['b', 'a', 'd', 'c']
numbers = [2, 4, 3, 1]

data1 = list(zip(letters, numbers))
data1.sort()
data2 = list(zip(numbers, letters))
data2.sort()

print(data1)
print(data2)

[('a', 4), ('b', 2), ('c', 1), ('d', 3)]
[(1, 'c'), (2, 'b'), (3, 'd'), (4, 'a')]

In [24]:
# 2 списк в словарь! 
fields = ['name', 'last_name', 'age', 'job']
values = ['John', 'Doe', '45', 'Python Developer']
a_dict = dict(zip(fields, values))
a_dict

{'name': 'John', 'last_name': 'Doe', 'age': '45', 'job': 'Python Developer'}

In [26]:
# меняем в словаре значения
new_job = ['Python Consultant']
field = ['job']
a_dict.update(zip(field, new_job))
a_dict

{'name': 'John', 'last_name': 'Doe', 'age': '45', 'job': 'Python Consultant'}

## ЦИКЛЫ

In [29]:
x = 5
while x != 0:
    print(x)
    x -= 1
    # break
print('Я прекратил работу')

5
4
3
2
1
Я прекратил работу

In [30]:
# итерация по строкам
company_name = 'Orange'
for letter in company_name:
    print(letter)

O
r
a
n
g
e

In [33]:
# итерация по спискам
companies_capitalization = [
    ['Orange', 1.3],
    ['Maxisoft', 1.5],
    ['Headbook', 0.8],
    ['Nicola', 2.2]
]
for company in companies_capitalization:
#     print(company)
    print(company[0], 'capitalization is', company[1])

Orange capitalization is 1.3
Maxisoft capitalization is 1.5
Headbook capitalization is 0.8
Nicola capitalization is 2.2

In [39]:
phrase = '6 4 0 К б'

In [40]:
for letter in phrase:
    if letter == ' ':
        break
    print(letter, end='')

6

In [41]:
for letter in phrase:
    if letter == ' ':
        continue
    print(letter)
print('finish loop')

6
4
0
К
б
finish loop

In [42]:
for letter in phrase:
    if letter == ' ':
        pass
    print(letter)
print('finish loop')

6

4

0

К

б
finish loop

## range

In [2]:
# левая граница, правая граница, шаг. 
for i in range(3, 20, 5):
    print(i)

3
8
13
18

## enumerate

In [3]:
# enumerate позволяет получить индекс каждого элемента
print(enumerate([1, 2, 3, 4, 5]))
print(list(enumerate([1, 2, 3, 4, 5])))

<enumerate object at 0x000001D142C5BA40>
[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [5]:
# пример
companies_capitalization = [
    ['Orange', 1.3],
    ['Maxisoft', 1.5],
    ['Headbook', 0.8],
    ['Nicola', 2.2]
]
for i, company in enumerate(companies_capitalization):
    print(i+1, company[0], 'capitalization is', company[1])

1 Orange capitalization is 1.3
2 Maxisoft capitalization is 1.5
3 Headbook capitalization is 0.8
4 Nicola capitalization is 2.2

## List comprehension

In [8]:
# в центре ЦИКЛ, слева - что надо сделать с элементом цикла, 
# справа можно поставить (а можно и нет) условие, при котором необходимо делать что-то с элементом
sequence_1 = range(0, 40, 3)
[num for num in sequence_1 if num % 5 == 0]

[0, 15, 30]

In [2]:
api_response = [
    ['2017-12-26', '777', 184],
    ['2017-12-27', '111', 146],
    ['2017-12-28', '777', 98],
    ['2017-12-29', '777', 206],
    ['2017-12-30', '111', 254],
    ['2017-12-31', '777', 89],
    ['2018-01-01', '111', 54],
    ['2018-01-02', '777', 68],
    ['2018-01-03', '777', 74],
    ['2018-01-04', '111', 89],
    ['2018-01-05', '777', 104],
    ['2018-01-06', '777', 99],
    ['2018-01-07', '777', 145],
    ['2018-01-08', '111', 184],
]

sum([element[2] for element in api_response if element[1] == '777'])

1067

## Множества (set)
Набор неповторяющихся элементов в случайном порядке

In [9]:
data_scientist_skills = set(['Python', 'R', 'SQL', 'Tableau', 'SAS', 'Git'])
data_engineer_skills = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [10]:
# логическое ИЛИ – что нужно знать data-scientst, который по совместительству data-engineer
print(data_scientist_skills.union(data_engineer_skills))
print(data_scientist_skills | data_engineer_skills)

{'Scala', 'Java', 'Git', 'SQL', 'Hadoop', 'R', 'Tableau', 'SAS', 'Python'}
{'Scala', 'Java', 'Git', 'SQL', 'Hadoop', 'R', 'Tableau', 'SAS', 'Python'}

In [11]:
# логическое И – что нужно знать и data-scientist и data-engineer
print(data_scientist_skills.intersection(data_engineer_skills))
print(data_scientist_skills & data_engineer_skills)

{'Git', 'Python', 'SQL'}
{'Git', 'Python', 'SQL'}

In [12]:
# разность множеств – что знает data-scientist, но не знает data-engineer (и наоборот)
# print(data_scientist_skills.difference(data_engineer_skills))
# print(data_scientist_skills - data_engineer_skills)
print(data_engineer_skills.difference(data_scientist_skills))
print(data_engineer_skills - data_scientist_skills)

{'Scala', 'Java', 'Hadoop'}
{'Scala', 'Java', 'Hadoop'}

In [13]:
# симметричная разность множеств – что такого знают data-scientist и data-engineer, чего не знают они оба
# print(data_scientist_skills.symmetric_difference(data_engineer_skills))
# print(data_scientist_skills ^ data_engineer_skills)
print(data_engineer_skills.symmetric_difference(data_scientist_skills))
print(data_engineer_skills ^ data_scientist_skills)

{'Scala', 'Java', 'Hadoop', 'R', 'Tableau', 'SAS'}
{'Scala', 'Java', 'Hadoop', 'R', 'Tableau', 'SAS'}

# Словари

In [14]:
salaries = {
    'John': 1200,
    'Mary': 500,
    'Steven': 1000,
    'Liza': 1500
}

In [17]:
# добавляем элемент в словарь или так можно менять значение по ключу
salaries['gagaga'] = 2000

In [18]:
salaries

{'John': 1200, 'Mary': 500, 'Steven': 1000, 'Liza': 1500, 'gagaga': 2000}

In [19]:
# безопасно получаем значение по ключу
# salaries['Oleg']
# print(salaries.get('Oleg', 'Not found'))
salaries.get('Mary', 'Not Found')

500

In [22]:
# Можно использовать метод setdefault, для проверки, есть ли ключ в словаре
# setdefault не изменяет значение, если ключ уже был в словаре

# salaries.setdefault('Mary', 3000)
# salaries
salaries.setdefault('Paul', 3000)
salaries

{'John': 1200,
 'Mary': 500,
 'Steven': 1000,
 'Liza': 1500,
 'gagaga': 2000,
 'Paul': 3000}

In [23]:
staff_dict = {
    'Robert': {'salary': 800, 'bonus': 200}, 
    'Jane': {'salary': 200, 'bonus': 300}, 
    'Liza': {'salary': 1300, 'bonus': 200}, 
    'Richard': {'salary': 500, 'bonus': 1200}
}

In [24]:
# обращаемся к элементам словаря
staff_dict['Robert']['bonus']

200

In [25]:
staff_dict['Oleg'] = {'salary': 1000000, 'bonus': 300}
staff_dict

{'Robert': {'salary': 800, 'bonus': 200},
 'Jane': {'salary': 200, 'bonus': 300},
 'Liza': {'salary': 1300, 'bonus': 200},
 'Richard': {'salary': 500, 'bonus': 1200},
 'Oleg': {'salary': 1000000, 'bonus': 300}}

In [28]:
# получаем только ключи/значения из словаря (очень пригодиться в циклах)
# print(staff_dict.keys())
# print(staff_dict.values())
# print(staff_dict.items())

print(list(staff_dict.keys()))
print(list(staff_dict.values()))
print(list(staff_dict.items()))

['Robert', 'Jane', 'Liza', 'Richard', 'Oleg']
[{'salary': 800, 'bonus': 200}, {'salary': 200, 'bonus': 300}, {'salary': 1300, 'bonus': 200}, {'salary': 500, 'bonus': 1200}, {'salary': 1000000, 'bonus': 300}]
[('Robert', {'salary': 800, 'bonus': 200}), ('Jane', {'salary': 200, 'bonus': 300}), ('Liza', {'salary': 1300, 'bonus': 200}), ('Richard', {'salary': 500, 'bonus': 1200}), ('Oleg', {'salary': 1000000, 'bonus': 300})]

In [29]:
# перебор словаря. по умолчанию выдаст keys
for person in staff_dict:
    print(person)

Robert
Jane
Liza
Richard
Oleg

In [30]:
for key, value in staff_dict.items():
    print(key, value['salary'])

Robert 800
Jane 200
Liza 1300
Richard 500
Oleg 1000000

In [31]:
# быстро создать словарь из двух списков
categories = ['Еда', 'Авто', 'Политика', '346346']
audience = [100, 200, 300]

dict(zip(categories, audience))

{'Еда': 100, 'Авто': 200, 'Политика': 300}

## Dict comprehension
Похоже на  list comprehension

In [32]:
{n: n**2 for n in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [34]:
results = [('date', '2018-01-01'), ('counter', '777'), ('visits', 154)]

# в начале КЛЮЧ: потом ЗНАЧЕНИЕ, а в цикле мы присваиваем двум переменным значение элемента. 
{metric: value for (metric, value) in results}

{'date': '2018-01-01', 'counter': '777', 'visits': 154}