# Домашнее задание к лекции "Базовые понятия статистики"

## Обязательная часть

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. 

### Задание 1. Базовое изучение

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names) и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

### Задание 2. Работа с выбросами

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

### Задание 3. Работа с пропусками

Рассчитать количество выбросов для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

## Дополнительная часть (необязательная)

Выполнить задания 1-3 для всего набора данных.

In [1]:
import pandas as pd
import numpy as np

In [2]:
horse_data = pd.read_csv('horse_data.csv', names = range(1, 29),na_values = '?')
horse_data.head()

,1,2,3,4,5,6,7,8,9,10,...,19,20,21,22,23,24,25,26,27,28
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [80]:
horse_data[horse_data[26] != 0]

,1,2,3,4,5,6,7,8,9,10,...,19,20,21,22,23,24,25,26,27,28
63,2.0,1,534293,38.2,130.0,16.0,4.0,3.0,4.0,2.0,...,65.0,82.0,2.0,2.0,3.0,2,2209,1400,0,2
111,1.0,1,533736,38.3,40.0,16.0,3.0,NaN,NaN,1.0,...,38.0,58.0,1.0,2.0,1.0,1,3111,7111,0,2
116,1.0,1,535208,38.0,44.0,12.0,1.0,1.0,1.0,1.0,...,42.0,65.0,NaN,NaN,1.0,1,3205,3111,0,2
118,1.0,1,533983,36.5,78.0,30.0,1.0,NaN,1.0,1.0,...,34.0,75.0,2.0,1.0,1.0,1,3112,6112,0,2
178,1.0,1,533968,NaN,60.0,30.0,3.0,3.0,4.0,2.0,...,45.0,70.0,3.0,2.0,1.0,1,6111,3111,0,2
206,1.0,1,535137,38.5,96.0,30.0,2.0,3.0,4.0,2.0,...,50.0,65.0,NaN,NaN,1.0,1,6111,3112,0,2
229,1.0,9,534597,38.5,120.0,70.0,NaN,NaN,NaN,NaN,...,35.0,54.0,1.0,1.0,1.0,1,4205,3111,2209,2

In [81]:
horse_data[horse_data[27] != 0]

,1,2,3,4,5,6,7,8,9,10,...,19,20,21,22,23,24,25,26,27,28
229,1.0,9,534597,38.5,120.0,70.0,NaN,NaN,NaN,NaN,...,35.0,54.0,1.0,1.0,1.0,1,4205,3111,2209,2

26 и 27 строка имеют так мало данных, что не имеет смысла их анализировать

In [82]:
horse_data.describe().iloc[:,10:]

,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28
count,245.00000,256.000000,244.000000,196.000000,194.000000,53.000000,198.000000,182.000000,271.000000,267.000000,135.000000,102.000000,299.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,2.95102,2.917969,2.266393,1.755102,1.582474,4.707547,2.757576,3.692308,46.295203,24.456929,2.037037,3.019608,1.551839,1.363333,3657.880000,90.226667,7.363333,1.670000
std,1.30794,0.976744,1.065131,0.649437,0.805359,1.982311,1.251119,1.491725,10.419335,27.475009,0.804905,1.968567,0.737187,0.481763,5399.513513,649.569234,127.536674,0.470998
min,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,23.000000,3.300000,1.000000,0.100000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,2.00000,3.000000,1.000000,1.000000,1.000000,3.000000,1.000000,2.000000,38.000000,6.500000,1.000000,2.000000,1.000000,1.000000,2111.750000,0.000000,0.000000,1.000000
50%,3.00000,3.000000,2.000000,2.000000,1.000000,5.000000,3.000000,4.000000,45.000000,7.500000,2.000000,2.250000,1.000000,1.000000,2673.500000,0.000000,0.000000,2.000000
75%,4.00000,4.000000,3.000000,2.000000,2.000000,6.500000,4.000000,5.000000,52.000000,57.000000,3.000000,3.900000,2.000000,2.000000,3209.000000,0.000000,0.000000,2.000000
max,5.00000,4.000000,4.000000,3.000000,3.000000,7.500000,4.000000,5.000000,75.000000,89.000000,3.000000,10.100000,3.000000,2.000000,41110.000000,7111.000000,2209.000000,2.000000

In [3]:
horse_ind = horse_data.loc[:, [4, 5, 8, 10, 11, 13, 17, 20]]
horse_ind.head()

     4      5    8    10   11   13   17    20
0  38.5   66.0  3.0  2.0  5.0  4.0  3.0   8.4
1  39.2   88.0  NaN  1.0  3.0  2.0  4.0  85.0
2  38.3   40.0  1.0  1.0  3.0  1.0  1.0   6.7
3  39.1  164.0  1.0  2.0  2.0  4.0  3.0   7.2
4  37.3  104.0  NaN  2.0  NaN  NaN  NaN   7.4

In [4]:
horse_ind.columns = [
    'rectal temperature',
    'pulse', 
    'peripheral pulse', 
    'capillary refill time', 
    'pain', 
    'abdominal distension',
    'rectal examination', 
    'total protein'
]

In [5]:
horse_ind.head()

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
0,38.5,66.0,3.0,2.0,5.0,4.0,3.0,8.4
1,39.2,88.0,NaN,1.0,3.0,2.0,4.0,85.0
2,38.3,40.0,1.0,1.0,3.0,1.0,1.0,6.7
3,39.1,164.0,1.0,2.0,2.0,4.0,3.0,7.2
4,37.3,104.0,NaN,2.0,NaN,NaN,NaN,7.4

In [6]:
horse_ind.describe()

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
count,240.000000,276.000000,231.000000,268.000000,245.00000,244.000000,198.000000,267.000000
mean,38.167917,71.913043,2.017316,1.305970,2.95102,2.266393,2.757576,24.456929
std,0.732289,28.630557,1.042428,0.477629,1.30794,1.065131,1.251119,27.475009
min,35.400000,30.000000,1.000000,1.000000,1.00000,1.000000,1.000000,3.300000
25%,37.800000,48.000000,1.000000,1.000000,2.00000,1.000000,1.000000,6.500000
50%,38.200000,64.000000,2.000000,1.000000,3.00000,2.000000,3.000000,7.500000
75%,38.500000,88.000000,3.000000,2.000000,4.00000,3.000000,4.000000,57.000000
max,40.800000,184.000000,4.000000,3.000000,5.00000,4.000000,4.000000,89.000000

### Задание 1
- rectal temperature: нормальная температура 37.8. Только у 25% выборки она в норме, и то, это может быть последствием другого фактора (какой-то там шок). Значит данный параметр точно можно расценивать как один из синдромов заболевания. 
- pulse: норма до 40. Но в нашей выборке в рамках до первого квартиля уже выша нормы. Средрее зашкаливает до 72. Очевидный признак за которым следует следить. 
- peripheral pulse: 1 и 2 норма. В целом половина точно с нормальным показателем, так что не очевидно, что перефирический пульс является триггером данного заболевания.
- capillary refill time: тоже только 25% имеют плохой показатель. + есть 2 выброса (а скорее ошибки, так как не числовой показатель) со значением "3". 
- pain: по квартилям распределено равномерно кажется. Средняя стремится к 3, и медиана 3. Пока не очень понятно, является ли триггером. 
- abdominal distension: меньше половины с тяжелым состоянием. То есть операция и т.п. потребуются не большинству (если брать пока что только данный параметр). 
- rectal examination: судя по всему, запор - не главная причина колик живота у лошадей, так как присутствует меньше чем у половины. Хотя 30% данных отсутствует. 
- total protein: Среднее 24,5, при норме до 7,5. При этом медиана на 7,5. Видимо во второй половине полная жесть с обезвоживанием.

### Задание 2

In [104]:
num_horse = horse_ind.loc[:, ['rectal temperature', 'pulse', 'total protein']]
num_horse.head()

   rectal temperature  pulse  total protein
0                38.5   66.0            8.4
1                39.2   88.0           85.0
2                38.3   40.0            6.7
3                39.1  164.0            7.2
4                37.3  104.0            7.4

#### rectal temperature

In [115]:
q1 = num_horse['rectal temperature'].quantile(0.25)
q3 = num_horse['rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = num_horse[num_horse['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]
blowout = pd.concat([num_horse, remove_outliers]).drop_duplicates(keep=False).sort_values('rectal temperature')
blowout.loc[~pd.isnull(blowout['rectal temperature']), :]

     rectal temperature  pulse  total protein
44                 35.4  140.0           69.0
141                36.0   42.0            6.8
238                36.1   88.0            7.0
80                 36.4   98.0            6.4
118                36.5   78.0           75.0
298                36.5  100.0            6.0
251                36.6   42.0            7.1
99                 39.6  108.0            8.0
75                 39.7  100.0           57.0
20                 39.9   72.0            6.1
281                40.0   78.0            6.5
259                40.8   72.0            7.4

- зная, что средняя температура 37,5, то текущие выбросы считаю нормальными. При пульсе 140, температура 35.4 - не знаю что там внутри животного происходит... Возможно оно в состоянии шока. В общем оставляю как есть.

#### pulse

In [116]:
q1 = num_horse['pulse'].quantile(0.25)
q3 = num_horse['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = num_horse[num_horse['pulse'].between(lower_bound, upper_bound, inclusive=True)]
blowout = pd.concat([num_horse, remove_outliers]).drop_duplicates(keep=False).sort_values('pulse')
blowout.loc[~pd.isnull(blowout['pulse']), :]

     rectal temperature  pulse  total protein
41                 39.0  150.0            8.5
275                38.8  150.0            6.2
55                 38.6  160.0            NaN
3                  39.1  164.0            7.2
255                38.8  184.0            3.3

- С выбросами пульса не все так однозначно. При среднем 72, и даже после 3 квартиля значения 88. в общем я бы оценил далее адекватность этих цифр в связке с другими показателями. Тут бы корреляцию провести с другими, но мы еще не умеем :)

#### total protein

In [118]:
q1 = num_horse['total protein'].quantile(0.25)
q3 = num_horse['total protein'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = num_horse[num_horse['total protein'].between(lower_bound, upper_bound, inclusive=True)]
blowout = pd.concat([num_horse, remove_outliers]).drop_duplicates(keep=False).sort_values('total protein')
blowout.loc[~pd.isnull(blowout['total protein']), :]

Empty DataFrame
Columns: [rectal temperature, pulse, total protein]
Index: []

- нет выбросов :) Отличный столбец. Люблю такие.

### Задание 3

In [7]:
horse_ind.head()

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
0,38.5,66.0,3.0,2.0,5.0,4.0,3.0,8.4
1,39.2,88.0,NaN,1.0,3.0,2.0,4.0,85.0
2,38.3,40.0,1.0,1.0,3.0,1.0,1.0,6.7
3,39.1,164.0,1.0,2.0,2.0,4.0,3.0,7.2
4,37.3,104.0,NaN,2.0,NaN,NaN,NaN,7.4

In [8]:
for col in horse_ind.columns:
    pct_missing = horse_ind[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

rectal temperature - 20.0%
pulse - 8.0%
peripheral pulse - 23.0%
capillary refill time - 10.7%
pain - 18.3%
abdominal distension - 18.7%
rectal examination - 34.0%
total protein - 11.0%

Везде пропуски есть. Столбец никакой не удалить.

In [9]:
horse_ind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   rectal temperature     240 non-null    float64
 1   pulse                  276 non-null    float64
 2   peripheral pulse       231 non-null    float64
 3   capillary refill time  268 non-null    float64
 4   pain                   245 non-null    float64
 5   abdominal distension   244 non-null    float64
 6   rectal examination     198 non-null    float64
 7   total protein          267 non-null    float64
dtypes: float64(8)
memory usage: 18.9 KB

In [10]:
len(horse_ind)

300

Удалим строки, где 6 из 8 значений нет. Я считаю, что если данных по ним нет, то и результаты будут не понятные с ними.

In [11]:
horse_ind = horse_ind.dropna(thresh=6)

In [12]:
for col in horse_ind.columns:
    pct_missing = horse_ind[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

rectal temperature - 14.0%
pulse - 4.5%
peripheral pulse - 9.9%
capillary refill time - 1.7%
pain - 5.8%
abdominal distension - 5.0%
rectal examination - 23.1%
total protein - 5.4%

In [13]:
horse_ind.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 242 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   rectal temperature     208 non-null    float64
 1   pulse                  231 non-null    float64
 2   peripheral pulse       218 non-null    float64
 3   capillary refill time  238 non-null    float64
 4   pain                   228 non-null    float64
 5   abdominal distension   230 non-null    float64
 6   rectal examination     186 non-null    float64
 7   total protein          229 non-null    float64
dtypes: float64(8)
memory usage: 17.0 KB

In [14]:
len(horse_ind)

242

Ну вот, убрали лишнее.

In [15]:
version_1 = horse_ind.describe()
version_1

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
count,208.000000,231.000000,218.000000,238.000000,228.000000,230.000000,186.000000,229.000000
mean,38.163462,72.121212,1.972477,1.298319,2.921053,2.230435,2.774194,23.822707
std,0.730966,28.359540,1.033617,0.476535,1.287998,1.054802,1.253139,27.358233
min,35.400000,36.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.300000
25%,37.800000,48.000000,1.000000,1.000000,2.000000,1.000000,1.000000,6.500000
50%,38.100000,64.000000,1.000000,1.000000,3.000000,2.000000,3.000000,7.400000
75%,38.500000,88.000000,3.000000,2.000000,4.000000,3.000000,4.000000,56.000000
max,40.800000,184.000000,4.000000,3.000000,5.000000,4.000000,4.000000,89.000000

In [16]:
horse_ind.mode()

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
0,38.0,48.0,1.0,1.0,3.0,1.0,4.0,6.5
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0

#### rectal temperature

In [17]:
horse_ind.loc[~pd.isnull(horse_ind['rectal temperature']), :].sort_values('rectal temperature')

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
44,35.4,140.0,3.0,2.0,4.0,NaN,NaN,69.0
238,36.1,88.0,3.0,1.0,3.0,2.0,NaN,7.0
80,36.4,98.0,3.0,1.0,4.0,2.0,4.0,6.4
298,36.5,100.0,3.0,1.0,3.0,3.0,4.0,6.0
118,36.5,78.0,NaN,1.0,5.0,1.0,NaN,75.0
...,...,...,...,...,...,...,...,...
20,39.9,72.0,1.0,2.0,5.0,4.0,4.0,6.1
281,40.0,78.0,3.0,1.0,2.0,1.0,4.0,6.5
54,40.3,114.0,3.0,2.0,2.0,3.0,1.0,8.1
91,40.3,114.0,3.0,2.0,2.0,3.0,1.0,8.1
259,40.8,72.0,3.0,1.0,2.0,1.0,NaN,7.4

Зависимости rectal temperature к другим столбцам не увидел. Средняя, Медиана и Мода близки. Поэтому заполню Модой.

In [18]:
horse_ind['rectal temperature'].fillna(horse_ind['rectal temperature'].mode()[0], inplace=True)

In [25]:
for col in horse_ind.columns:
    pct_missing = horse_ind[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

rectal temperature - 0.0%
pulse - 4.5%
peripheral pulse - 9.9%
capillary refill time - 1.7%
pain - 5.8%
abdominal distension - 5.0%
rectal examination - 23.1%
total protein - 5.4%

#### pulse

In [20]:
horse_ind.loc[~pd.isnull(horse_ind['pulse']), :].sort_values('pulse').head(10)

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
276,38.0,36.0,1.0,1.0,4.0,2.0,3.0,75.0
242,38.0,36.0,1.0,1.0,5.0,3.0,NaN,5.9
203,37.2,36.0,1.0,1.0,2.0,1.0,4.0,5.7
76,37.6,38.0,3.0,1.0,3.0,2.0,3.0,68.0
122,38.7,40.0,1.0,1.0,3.0,1.0,1.0,62.0
166,38.3,40.0,1.0,1.0,3.0,1.0,2.0,5.9
133,37.9,40.0,1.0,1.0,2.0,1.0,NaN,5.7
112,38.0,40.0,1.0,1.0,1.0,1.0,NaN,56.0
278,37.8,40.0,1.0,1.0,1.0,1.0,1.0,6.8
111,38.3,40.0,NaN,1.0,1.0,2.0,NaN,58.0

In [21]:
horse_ind.loc[~pd.isnull(horse_ind['pulse']), :].sort_values('pulse').tail(10)

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
63,38.2,130.0,3.0,2.0,2.0,4.0,NaN,82.0
23,38.3,130.0,3.0,1.0,2.0,NaN,NaN,70.0
148,38.3,132.0,3.0,2.0,2.0,2.0,4.0,8.0
135,38.1,136.0,3.0,1.0,5.0,3.0,2.0,4.9
103,38.0,140.0,1.0,1.0,3.0,2.0,2.0,5.3
44,35.4,140.0,3.0,2.0,4.0,NaN,NaN,69.0
275,38.8,150.0,3.0,2.0,5.0,2.0,NaN,6.2
55,38.6,160.0,NaN,1.0,3.0,4.0,4.0,NaN
3,39.1,164.0,1.0,2.0,2.0,4.0,3.0,7.2
255,38.8,184.0,NaN,1.0,4.0,3.0,2.0,3.3

In [24]:
pulse_median = horse_ind['pulse'].median()
pulse_median

64.0

In [29]:
horse_ind[horse_ind['pulse']<pulse_median].describe()

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
count,111.000000,111.000000,101.000000,108.000000,102.000000,105.000000,86.000000,108.000000
mean,38.039640,49.243243,1.396040,1.111111,2.352941,1.828571,2.302326,27.396296
std,0.489021,6.969044,0.788406,0.344064,1.140150,0.934974,1.237357,28.309009
min,36.600000,36.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.500000
25%,37.800000,44.000000,1.000000,1.000000,1.000000,1.000000,1.000000,6.600000
50%,38.000000,48.000000,1.000000,1.000000,3.000000,2.000000,3.000000,7.400000
75%,38.300000,54.000000,1.000000,1.000000,3.000000,2.000000,3.000000,61.000000
max,39.500000,60.000000,3.000000,3.000000,5.000000,4.000000,4.000000,77.000000

In [34]:
horse_ind[horse_ind['pulse']>=pulse_median].describe()

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
count,120.000000,120.000000,106.000000,119.000000,115.000000,114.000000,93.000000,111.000000
mean,38.207500,93.283333,2.490566,1.436975,3.321739,2.561404,3.172043,21.871171
std,0.812938,23.869457,0.958623,0.498109,1.188747,1.047839,1.119236,27.006368
min,35.400000,64.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.300000
25%,37.900000,72.000000,1.000000,1.000000,2.000000,2.000000,3.000000,6.450000
50%,38.100000,88.000000,3.000000,1.000000,3.000000,3.000000,4.000000,7.500000
75%,38.500000,104.000000,3.000000,2.000000,4.000000,3.000000,4.000000,11.600000
max,40.800000,184.000000,4.000000,2.000000,5.000000,4.000000,4.000000,89.000000

При высоком пульсе многие показатели выше нормы.

Поэтому заполню пропусками средним значением от группировки peripheral pulse и pain

In [35]:
horse_ind['pulse'].fillna(horse_ind.groupby(['peripheral pulse', 'pain'])['pulse'].transform('mean'), inplace=True)

In [36]:
for col in horse_ind.columns:
    pct_missing = horse_ind[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

rectal temperature - 0.0%
pulse - 0.0%
peripheral pulse - 9.9%
capillary refill time - 1.7%
pain - 5.8%
abdominal distension - 5.0%
rectal examination - 23.1%
total protein - 5.4%

In [40]:
horse_ind.describe()

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
count,242.000000,242.000000,218.000000,238.000000,228.000000,230.000000,186.000000,229.000000
mean,38.140496,72.545303,1.972477,1.298319,2.921053,2.230435,2.774194,23.822707
std,0.679831,27.996017,1.033617,0.476535,1.287998,1.054802,1.253139,27.358233
min,35.400000,36.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.300000
25%,37.800000,48.000000,1.000000,1.000000,2.000000,1.000000,1.000000,6.500000
50%,38.000000,65.714286,1.000000,1.000000,3.000000,2.000000,3.000000,7.400000
75%,38.500000,89.588235,3.000000,2.000000,4.000000,3.000000,4.000000,56.000000
max,40.800000,184.000000,4.000000,3.000000,5.000000,4.000000,4.000000,89.000000

In [39]:
version_1

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
count,208.000000,231.000000,218.000000,238.000000,228.000000,230.000000,186.000000,229.000000
mean,38.163462,72.121212,1.972477,1.298319,2.921053,2.230435,2.774194,23.822707
std,0.730966,28.359540,1.033617,0.476535,1.287998,1.054802,1.253139,27.358233
min,35.400000,36.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.300000
25%,37.800000,48.000000,1.000000,1.000000,2.000000,1.000000,1.000000,6.500000
50%,38.100000,64.000000,1.000000,1.000000,3.000000,2.000000,3.000000,7.400000
75%,38.500000,88.000000,3.000000,2.000000,4.000000,3.000000,4.000000,56.000000
max,40.800000,184.000000,4.000000,3.000000,5.000000,4.000000,4.000000,89.000000

#### peripheral pulse

In [41]:
horse_ind.loc[~pd.isnull(horse_ind['peripheral pulse']), :].sort_values('peripheral pulse').head(10)

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
189,38.3,60.0,1.0,1.0,2.0,1.0,1.0,6.0
120,39.4,54.0,1.0,1.0,2.0,2.0,3.0,6.0
119,38.1,56.0,1.0,1.0,1.0,1.0,NaN,70.0
180,38.4,84.0,1.0,2.0,4.0,3.0,4.0,7.5
116,38.0,44.0,1.0,1.0,3.0,3.0,4.0,65.0
112,38.0,40.0,1.0,1.0,1.0,1.0,NaN,56.0
239,38.1,70.0,1.0,1.0,5.0,NaN,NaN,65.0
166,38.3,40.0,1.0,1.0,3.0,1.0,2.0,5.9
241,38.2,52.0,1.0,1.0,1.0,1.0,1.0,8.1
107,37.3,50.0,1.0,1.0,1.0,2.0,1.0,7.0

In [42]:
horse_ind.loc[~pd.isnull(horse_ind['peripheral pulse']), :].sort_values('peripheral pulse').tail(10)

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
135,38.1,136.000000,3.0,1.0,5.0,3.0,2.0,4.9
136,38.0,96.952381,3.0,2.0,5.0,3.0,4.0,5.9
142,38.0,120.000000,3.0,2.0,5.0,4.0,4.0,4.5
298,36.5,100.000000,3.0,1.0,3.0,3.0,4.0,6.0
110,38.0,70.000000,4.0,2.0,2.0,2.0,4.0,7.5
222,38.0,112.000000,4.0,1.0,2.0,1.0,4.0,6.3
43,38.0,120.000000,4.0,1.0,4.0,4.0,NaN,67.0
250,39.3,100.000000,4.0,1.0,2.0,1.0,NaN,13.0
8,38.0,80.000000,4.0,1.0,4.0,4.0,3.0,6.2
282,38.0,70.000000,4.0,2.0,2.0,2.0,4.0,7.5

peripheral pulse явно зависимость от пульса. Так что сгруппирую факт данные по peripheral pulse и заполню средними из pulse

In [45]:
horse_ind['peripheral pulse'].fillna(horse_ind.groupby(['pulse'])['peripheral pulse'].transform('mean'), inplace=True)

In [46]:
for col in horse_ind.columns:
    pct_missing = horse_ind[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

rectal temperature - 0.0%
pulse - 0.0%
peripheral pulse - 1.2%
capillary refill time - 1.7%
pain - 5.8%
abdominal distension - 5.0%
rectal examination - 23.1%
total protein - 5.4%

Ищу еще группировки

In [49]:
horse_ind.loc[pd.isnull(horse_ind['peripheral pulse']), :]

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
55,38.6,160.0,NaN,1.0,3.0,4.0,4.0,NaN
255,38.8,184.0,NaN,1.0,4.0,3.0,2.0,3.3
263,37.1,75.0,NaN,2.0,4.0,2.0,4.0,7.4

In [50]:
horse_ind[horse_ind['pulse'] == 75]

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
263,37.1,75.0,NaN,2.0,4.0,2.0,4.0,7.4

In [53]:
horse_ind['peripheral pulse'].fillna(horse_ind.groupby([
    'pain', 
    'abdominal distension'
])['peripheral pulse'].transform('mean'), inplace=True)

In [54]:
for col in horse_ind.columns:
    pct_missing = horse_ind[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

rectal temperature - 0.0%
pulse - 0.0%
peripheral pulse - 0.0%
capillary refill time - 1.7%
pain - 5.8%
abdominal distension - 5.0%
rectal examination - 23.1%
total protein - 5.4%

In [59]:
horse_ind.describe()

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
count,242.000000,242.000000,242.000000,238.000000,228.000000,230.000000,186.000000,229.000000
mean,38.140496,72.545303,1.986809,1.298319,2.921053,2.230435,2.774194,23.822707
std,0.679831,27.996017,1.008585,0.476535,1.287998,1.054802,1.253139,27.358233
min,35.400000,36.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.300000
25%,37.800000,48.000000,1.000000,1.000000,2.000000,1.000000,1.000000,6.500000
50%,38.000000,65.714286,1.715686,1.000000,3.000000,2.000000,3.000000,7.400000
75%,38.500000,89.588235,3.000000,2.000000,4.000000,3.000000,4.000000,56.000000
max,40.800000,184.000000,4.000000,3.000000,5.000000,4.000000,4.000000,89.000000

In [60]:
version_1

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
count,208.000000,231.000000,218.000000,238.000000,228.000000,230.000000,186.000000,229.000000
mean,38.163462,72.121212,1.972477,1.298319,2.921053,2.230435,2.774194,23.822707
std,0.730966,28.359540,1.033617,0.476535,1.287998,1.054802,1.253139,27.358233
min,35.400000,36.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.300000
25%,37.800000,48.000000,1.000000,1.000000,2.000000,1.000000,1.000000,6.500000
50%,38.100000,64.000000,1.000000,1.000000,3.000000,2.000000,3.000000,7.400000
75%,38.500000,88.000000,3.000000,2.000000,4.000000,3.000000,4.000000,56.000000
max,40.800000,184.000000,4.000000,3.000000,5.000000,4.000000,4.000000,89.000000

#### capillary refill time

In [55]:
horse_ind.loc[~pd.isnull(horse_ind['capillary refill time']), :].sort_values('capillary refill time').head(10)

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
147,38.0,44.0,1.0,1.0,3.0,3.0,1.0,6.5
176,38.2,60.0,1.0,1.0,3.0,1.0,3.0,66.0
181,37.8,48.0,1.2,1.0,3.0,2.0,1.0,7.5
183,37.8,56.0,1.0,1.0,2.0,1.0,1.0,68.0
184,38.2,68.0,2.0,1.0,1.0,1.0,1.0,65.0
186,39.3,64.0,3.0,1.0,NaN,1.0,NaN,6.7
187,38.4,80.0,3.0,1.0,3.0,3.0,4.0,6.1
188,38.5,60.0,1.0,1.0,NaN,1.0,NaN,53.0
189,38.3,60.0,1.0,1.0,2.0,1.0,1.0,6.0
190,37.1,40.0,1.0,1.0,3.0,1.0,3.0,6.7

In [85]:
horse_ind.loc[~pd.isnull(horse_ind['capillary refill time']), :].sort_values('capillary refill time').tail(10)

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
164,38.7,76.0,1.0,2.0,3.0,2.0,4.0,8.0
228,37.3,90.0,3.0,2.0,5.0,3.0,1.0,50.0
226,39.2,120.0,3.0,2.0,2.0,3.0,NaN,8.8
59,38.0,96.0,3.0,2.0,5.0,4.0,4.0,NaN
99,39.6,108.0,3.0,2.0,2.0,3.0,3.0,8.0
63,38.2,130.0,3.0,2.0,2.0,4.0,NaN,82.0
64,39.0,64.0,1.0,2.0,3.0,2.0,4.0,7.5
66,37.9,72.0,1.0,2.0,3.0,1.0,3.0,74.0
105,38.0,70.0,3.0,2.0,2.0,2.0,4.0,7.3
0,38.5,66.0,3.0,2.0,5.0,4.0,3.0,8.4

In [86]:
horse_ind.loc[horse_ind['capillary refill time'] == 3] = 2 # предполагаю что бага, проимах, вместо 2, проставили 3

In [97]:
horse_ind['capillary refill time'].fillna(horse_ind.groupby([
    'peripheral pulse',
    'abdominal distension'
])['capillary refill time'].transform('mean'), inplace=True)

In [98]:
for col in horse_ind.columns:
    pct_missing = horse_ind[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

rectal temperature - 0.0%
pulse - 0.0%
peripheral pulse - 0.0%
capillary refill time - 0.0%
pain - 5.8%
abdominal distension - 5.0%
rectal examination - 22.7%
total protein - 5.4%

In [99]:
horse_ind.loc[pd.isnull(horse_ind['capillary refill time']), :]

Empty DataFrame
Columns: [rectal temperature, pulse, peripheral pulse, capillary refill time, pain, abdominal distension, rectal examination, total protein]
Index: []

In [100]:
horse_ind.describe()

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
count,242.000000,242.000000,242.000000,242.000000,228.000000,230.000000,187.000000,229.000000
mean,37.842975,71.938062,1.978544,1.288765,2.903509,2.226087,2.759358,23.787336
std,3.348495,28.649742,1.004320,0.451983,1.283369,1.053676,1.249024,27.383903
min,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,37.800000,48.000000,1.000000,1.000000,2.000000,1.000000,1.000000,6.500000
50%,38.000000,64.914286,1.715686,1.000000,3.000000,2.000000,3.000000,7.400000
75%,38.500000,88.264706,3.000000,2.000000,4.000000,3.000000,4.000000,56.000000
max,40.800000,184.000000,4.000000,2.000000,5.000000,4.000000,4.000000,89.000000

In [101]:
version_1

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
count,208.000000,231.000000,218.000000,238.000000,228.000000,230.000000,186.000000,229.000000
mean,38.163462,72.121212,1.972477,1.298319,2.921053,2.230435,2.774194,23.822707
std,0.730966,28.359540,1.033617,0.476535,1.287998,1.054802,1.253139,27.358233
min,35.400000,36.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.300000
25%,37.800000,48.000000,1.000000,1.000000,2.000000,1.000000,1.000000,6.500000
50%,38.100000,64.000000,1.000000,1.000000,3.000000,2.000000,3.000000,7.400000
75%,38.500000,88.000000,3.000000,2.000000,4.000000,3.000000,4.000000,56.000000
max,40.800000,184.000000,4.000000,3.000000,5.000000,4.000000,4.000000,89.000000

В общем заполнять данные по просто средним величинам - мне кажется не самое эффективное время провождение. 

Самая ужасная моя работа, крайне не нравится, но исходя из знаний, опыта и задания лучше видимо не могу... 

Далее собираюсь заполнять пустоты в зависимости от заполнения других величин.

In [136]:
def change_values(column):
    list_for_check = list(horse_ind.columns)
    list_for_check.remove(column)
    
    while len(list_for_check) != 0:
    
        horse_ind[column].fillna(
        horse_ind.groupby(list_for_check)[column].transform('median'), inplace=True
            )
        
        if horse_ind[column].isnull().mean() == 0:
            break
        
        list_for_check.pop()
        if len(list_for_check) == 0:
            horse_ind[column].fillna(horse_ind[column].mode()[0], inplace=True)

In [137]:
for column in horse_ind.columns:
    
    if horse_ind[column].isnull().mean() == 0:
        print(column)
        continue
    else:
        change_values(column)

rectal temperature
pulse
peripheral pulse
capillary refill time
pain
abdominal distension
rectal examination

In [138]:
for col in horse_ind.columns:
    pct_missing = horse_ind[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

rectal temperature - 0.0%
pulse - 0.0%
peripheral pulse - 0.0%
capillary refill time - 0.0%
pain - 0.0%
abdominal distension - 0.0%
rectal examination - 0.0%
total protein - 0.0%

Сравним, что было, и что стало =)

In [139]:
version_1 # было

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
count,208.000000,231.000000,218.000000,238.000000,228.000000,230.000000,186.000000,229.000000
mean,38.163462,72.121212,1.972477,1.298319,2.921053,2.230435,2.774194,23.822707
std,0.730966,28.359540,1.033617,0.476535,1.287998,1.054802,1.253139,27.358233
min,35.400000,36.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.300000
25%,37.800000,48.000000,1.000000,1.000000,2.000000,1.000000,1.000000,6.500000
50%,38.100000,64.000000,1.000000,1.000000,3.000000,2.000000,3.000000,7.400000
75%,38.500000,88.000000,3.000000,2.000000,4.000000,3.000000,4.000000,56.000000
max,40.800000,184.000000,4.000000,3.000000,5.000000,4.000000,4.000000,89.000000

In [140]:
horse_ind.describe() # стало

,rectal temperature,pulse,peripheral pulse,capillary refill time,pain,abdominal distension,rectal examination,total protein
count,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000
mean,37.842975,71.938062,1.978544,1.288765,2.898760,2.229339,2.884298,23.217769
std,3.348495,28.649742,1.004320,0.451983,1.288747,1.041706,1.223491,26.965796
min,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,37.800000,48.000000,1.000000,1.000000,2.000000,1.000000,2.000000,6.500000
50%,38.000000,64.914286,1.715686,1.000000,3.000000,2.000000,3.000000,7.500000
75%,38.500000,88.264706,3.000000,2.000000,4.000000,3.000000,4.000000,54.750000
max,40.800000,184.000000,4.000000,2.000000,5.000000,4.000000,4.000000,89.000000

Есть косяк в некоторых данных не округлял до нужных целых значений, но это дело в целом поправимое. 

А так не сильно то и повлияло =) 

Конечно нужен опыт.