In [1]:
import pandas as pd

### Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

    если источник traffic_source равен yandex или google, то в source_type ставится organic
    для источников paid и email из России - ставим ad
    для источников paid и email не из России - ставим other
    все остальные варианты берем из traffic_source без изменений

In [2]:
logs = pd.read_csv('C:/Netology/PYDA_14/10_Pandas (продвинутый)/ml-latest-small/visit_log.csv', sep=';')

In [32]:
logs.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

In [28]:
def source_type_func(row):
    if (row['traffic_source'] == 'yandex') | (row['traffic_source'] == 'google'):
        return 'organic'
    elif (row['region'] == 'Russia') & ((row['traffic_source'] == 'paid') | (row['traffic_source'] == 'email')):
        return 'ad'
    elif (row['region'] != 'Russia') & ((row['traffic_source'] == 'paid') | (row['traffic_source'] == 'email')):
        return 'other'
    else:
        return row['traffic_source']

In [29]:
logs['source_type'] = logs.apply(source_type_func, axis=1)

### Задание 2
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. 

Выполните следующие действия:

   - Прочитайте содержимое файла с датафрейм
   - Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [107]:
file = pd.read_csv('C:/Netology/PYDA_14/10_Pandas (продвинутый)/доп_материалы_к_пандас_1_и_2/URLs.txt')

In [108]:
file.head(10)

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...
8                                          /science/
9                                            /sport/

In [109]:
file[file['url'].str.contains('/\d{8}-')]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

In [110]:
file['news'] = file[file['url'].str.contains('(?:.*)(?:/\d{8}-)(.*)')]

C:\Users\s.vozov\Anaconda3\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [111]:
file.head()

,url,news
0,/world/,NaN
1,/latest/,NaN
2,/?updated=top,NaN
3,/politics/36188461-s-marta-zhizn-rossiyan-susc...,/politics/36188461-s-marta-zhizn-rossiyan-susc...
4,/world/36007585-tramp-pridumal-kak-reshit-ukra...,/world/36007585-tramp-pridumal-kak-reshit-ukra...

Не понимаю, почему (?:.*)(?:/\d{8})(.*) не работает.
Хотя в примере ниже все ок. 
Хотел просто саму новость вывести...

In [103]:
stroka = '/politics/36188461-s-marta-zhizn-rossiyan-suschestvenno-izmenitsya-iz-za-novyh-zakonov/'

In [104]:
import re

In [112]:
re.findall(r'(?:.*)(?:/\d{8}-)(.*)', stroka)

['s-marta-zhizn-rossiyan-suschestvenno-izmenitsya-iz-za-novyh-zakonov/']

### Задание 3

В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [113]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [135]:
data

                 keyword   shows               lemmas
0    курс гривны к рублю  125076  курс гривна к рубль
1        доллары в рубли  114173       доллар в рубль
2  100 долларов в рублях   97534   100 доллар в рубль
3             курс рубля   53546           курс рубль

In [115]:
from pymystem3 import Mystem

In [116]:
m = Mystem()

In [134]:
data['lemmas'] = data['keyword'].apply(lambda x: "".join(m.lemmatize(x)).rstrip('\n'))

Не совсем понял значение слова Лемма, поэтому сделал так. 
В целом можно было бы убрать предлоги и оставить только слова.

In [136]:
data

                 keyword   shows               lemmas
0    курс гривны к рублю  125076  курс гривна к рубль
1        доллары в рубли  114173       доллар в рубль
2  100 долларов в рублях   97534   100 доллар в рубль
3             курс рубля   53546           курс рубль