In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Netology/PYDA_14/09_Pandas/ml-latest-small/ratings.csv').sort_values(by='movieId')
df.head()

       userId  movieId  rating   timestamp
9713       68        1     4.0  1194741818
35933     261        1     1.5  1101665532
52631     383        1     5.0   852806429
35983     262        1     2.5  1433898798
12038      77        1     4.0  1163005363

In [4]:
df[df['movieId'] == 4712 ]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [6]:
4712 in df['movieId']

True