In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('C:/Netology/PYDA_14/09_Pandas/ml-latest-small/ratings.csv')
df.head(2)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179

In [3]:
def set_rating(rating):
    if rating <= 2.0:
        return 'low'
    elif rating <= 4.0:
        return 'medium'
    else:
        return 'high'

In [8]:
df['class_'] = df['rating'].apply(set_rating)
df.head(2)

   userId  movieId  rating   timestamp   class
0       1       31     2.5  1260759144  medium
1       1     1029     3.0  1260759179  medium

In [9]:
df['class'].value_counts()

medium    63801
high      22818
low       13385
Name: class, dtype: int64

In [6]:
df.rating.value_counts()

4.0    28750
3.0    20064
5.0    15095
3.5    10538
4.5     7723
2.0     7271
2.5     4449
1.0     3326
1.5     1687
0.5     1101
Name: rating, dtype: int64